        <!-- content ----------------------------->
        <div id="main_wrapper">
            <div id="main">
                <div class="main_content_d">
                    <h2>
                        隱私權條款
                        <p>隱私權政策本政策於2015年01月19日修改</p>
                    </h2>
                    <!--top line-->
                    <span class="box_head_reg"></span>
                    <!-- line-->
                    <div class="reg">

                        <!--text wrapper-->
                        <div class="reg_text">
                            <div class="gy_2">
                                <br />
                                <span class="bu_b2">主要問題及解答</span><br />
                                感謝消費者瀏覽本網站。我們期望消費者能了解更多有關雀巢和我們的產品。<br />
                                雀巢尊重消費者在網路上的隱私，特別是消費者使用我們的網站以及用網路方式與我們聯繫。因此，我們特設本隱私權政策，以通知消費者「台灣雀巢股份有限公司」 (以下稱"雀巢"、"我們"或"我們的") 如何收集、儲存、使用及處理消費者經由任何雀巢所操作的網站（以下稱"網站"）提供予我們的個人資料，包括現時消費者正在瀏覽的網站。<br />
                                使用本網站意即表示消費者已接受本隱私權政策所述的操作實務。若消費者不同意本隱私權政策，請勿使用本網站。我們保留隨時更改本隱私權政策的權利。任何更改將會於本隱私權政策內張貼，而重大變更一般只適用於持續收集的資料及活動。我們鼓勵消費者不時查閱本隱私權政策，確保消費者得悉任何更改及個人資料將被如何使用。<br />
                                本隱私權政策亦適用於消費者透過其他任何形式的實體活動提供予我們的個人資料（例如：填寫參加我們任何會員俱樂部的紙本申請表，或以廣告傳單上的登記表格參加特別優惠或推廣活動等），而本隱私權政策亦將根據此情況作相應解釋及執行。消費者向我們提供個人資料即表示消費者已同意本隱私權政策及以其詳述的方式收集、使用、轉移、儲存及處理消費者之個人資料。
                                我們謹此通知消費者，就消費者提供予雀巢的個人資料，「台灣雀巢股份有限公司」將為「資料監控人」。<br />
                                若消費者對你的個人資料有任何要求，或對本隱私權政策有任何疑問，請隨時<a href="https://www.nestle.com.tw/info">聯絡我們</a>。 <br />
                                <br /><span class="bu_b2">未成年人隱私權政策</span><br />
                                若消費者為家長或法定監護人，欲知我們就收集及使用20歲以下未成年人的個人資料的政策，請查閱以下第11條。但敬請注意，我們只於非常少數由雀巢營運的網站內收集未成年人的個人資料，特別是對20歲以下未成年人有強烈吸引力的網站或已明確知悉所收集的個人資料來自20歲以下未成年人。<br />
                                有關我們的網站上隱私權操作實務，請瀏覽以下任何問題。<br />
                                <strong>
                                    1.	我們收集消費者什麼個人資料及如何收集?<br />
                                    2. 我們如何保障消費者的個人資料的安全?<br />
                                    3.	我們使用消費者之個人資料的目的?<br />
                                    4.	若消費者不願提供個人資料會有甚麼情況?<br />
                                    5.	我們披露消費者之個人資料的人士及原因?<br />
                                    6.	消費者如何能獲取、更改或對使用其個人資料的方式作出其他選擇?<br />
                                    7.	消費者之個人資料將會被轉移到的國家及原因?<br />
                                    8.	數據記錄技術 – 如何使用及其原因?<br />
                                    9.	電子商務 – 何謂濫發訊息以及我們就濫發電子信件的定位?<br />
                                    10. 我們持有消費者之個人資料的時間?<br />
                                    11. 收集使用我們網站的未成年人之個人資料政策?<br />
                                    12. 我們會否連結到其他第三方網站? <br />
                                    13. 消費者如何能聯絡我們? <br />
                                    14. 我們就使用消費者之個人資料作直接促銷有甚麼政策?
                                </strong><br />
                                <br />
                                <span class="bu_b2">1. 我們收集消費者什麼個人資料及如何收集?</span><br />
                                若消費者僅瀏覽雀巢網站，我們並不會要求消費者提供任何個人資料。但若消費者欲參與我們網站所提供的多種功能及服務，我們可能會要求消費者提供某些個人及/或人口統計資料。「個人資料」（在本隱私權政策下的範圍）泛指任何能被用作辨識消費者或於網路或其他途徑聯絡消費者的資料，包括如消費者的姓名、郵寄地址、電子信箱、電話號碼（「可辨識個人資料」），以及與「可辨識個人資料」連結時、供人口統計用途的資料如消費者的出生日期、年齡、性別、喜好或偏好等（以下概稱「個人資料」）。<br />
                                • 在雀巢網站內註冊或登記 (「一般網站登記」)；<br />
                                • 訂閱與特別為活動、產品或網站而設的電子報（不包括在「一般網站登記」內的通訊）；<br />
                                • 獎賞、比賽或其他推廣活動；<br />
                                • 問卷調查及投票；<br />
                                • 留言板及其他互動活動；<br />
                                • 透過我們的網路商店購買雀巢產品；<br />
                                • 電子卡、通知好友或其他一次性的功能；<br />
                                • 透過"聯絡我們"或"向專家查詢"等表格回饋意見、問題或評論；<br />
                                • 以商業身份提交的資料（如履歷表、媒體查詢等）；<br />
                                • 線上求職（如遞交消費者的履歷表以申請雀巢職位）；<br />
                                • 登記朋友參加特定產品的活動；或任何其他需要提交個人資料的要求（如消費者群組、產品要求、"何處購買"等）。<br />
                                注意：視乎消費者所瀏覽的雀巢網站，以上所列某些或多種活動可能並未提供。<br />
                                上列活動所需要收集的資料種類及數量將視乎有關活動而訂。我們要求的個人資料可能包括：姓名、電子信箱、住址、電話號碼（辦公或住宅），及信用卡資料（網路購物人士適用）。在某些活動中消費者可能會被要求設立使用者名稱及/或密碼及/或提供額外的人口統計資料，包括(i)消費者的年齡或出生日期；(ii)性別；(iii)使用、購物及消費某些雀巢產品及/或類似產品的頻率；(iv)消費者的家居或生活習慣之實際情況；及/或(v)其他有關消費者已購買的雀巢產 品或消費者正在瀏覽的特定網站之資料。<br />
                                <br />
                                <span class="bu_b2">2. 我們如何保障消費者的個人資料的安全?</span><br />
                                雀巢採取一切必須的技術及架構措施，以保障從我們網站內所收集的消費者之個人資料的保密性及安全性，包括敏感性的個人資料及20歲以下未成年人的個人資料。這些措施包括但不限於：(i)將消費者之個人資料儲存於不提供予公眾的安全運作的環境中，而且只限已獲授權的雀巢員工、我們的代理商及承辦商接觸；(ii)在我們網站內的傳輸過程中，使用業界標準SSL加密技術以保障某些敏感性個人資料（如信用卡、健康或病人資料）；及(iii)在確認網站註冊用戶的身份後，方可接觸我們所持有的其個人資料。請同時參閱以下第4條。<br />

                                <br />
                                <span class="bu_b2">3. 我們使用消費者之個人資料的目的?</span><br />
                                一般而言，所有收集的資料將根據消費者提交資料予我們的使用目的；或於收集資料時說明；或本隱私權政策中所指定的目的使用。例如：消費者於一個雀巢網站上登記或註冊(「一般網站登記」)，消費者所提交的資料將被用作向消費者提供一般與註冊有關的優惠，當中可包括：瀏覽或使用雀巢網站內獨家的或個人化內容或活動（如留 言板、上載功能、個人化食譜等）；出席特別活動或參加特別推廣（比賽、獎賞、禮券等）；及可接收消費者於登記時所選擇、或隨登記自動訂閱的通訊或推廣資訊。當然，消費者提供的任何信用卡資料只會作完成及處理消費者的網路購物之用途。<br />
                                在雀巢網站上登記或提供資料時，消費者亦可能需要選擇（以剔選方格或其他方式）是否願意把個人資料應用於消費者正在要求的活動或服務以外的另一項活動或服務。 例如：若消費者登記參加一項比賽或其他推廣活動，消費者亦可能藉此訂閱由提供推廣的網站、其他網站或雀巢產品所發出之電子報或通訊。若消費者選擇接受這些額外服務，我們將會使用消費者的資料以提供該等服務。<br />
                                我們亦可能會使用消費者之個人及/或人口統計資料供我們內部市場或人口統計調查，以確保我們能不斷改善、個人化及制定我們提供予消費者的產品及服務，更切合消費者的需要。據此，我們可能會偶爾將於雀巢網站收集的個人資料，與我們取自外部記錄或第三方數據作出整合、更新或以其他方式優化。<br />
                                一般而言，在消費者的帳戶仍然生效期間，或為提供消費者所要求的服務之需要，我們會持續持有消費者之個人資料。當然，若消費者提出要求我們不再使用消費者之個人資料以提供服務（例如：拒絕接收電子信件），或擬取消消費者的會藉或帳戶，請隨時<a href="https://www.nestle.com.tw/info">聯絡我們</a>。敬請注意：消費者之個人資料將會被保留一段合理的時間，以及為遵守我們法律及法規上的責任、解決爭議、執行我們的協議和管理同類記錄之目的等所需而被保留。<br />
                                以下是雀巢網站內某些服務的額外資料以供參考：<br />
                                <strong>• 電子報及電子郵件</strong>
                                <br />
                                若消費者向我們提供電子信箱及/或住址（無論是否作為「一般網站登記」之部分或為特定電子報或通訊），消費者所提供的聯絡資料將被用作向消費者傳送所要求的電子報、通訊或文書。此外，消費者可能會接收到向消費者介紹其他雀巢品牌或網站的通訊。視乎消費者所登記的網站及消費者於登記時所提供的資料，這類資訊可能會以普通郵件或電子郵件方式送出。<br />
                                我們亦可能會使用消費者的電子信箱向消費者傳送交易或行政通訊（例如：當消費者於網路購物後的確認電子信箱，或當消費者登記或取消訂閱某一特定之登記項目或活動時），以及某些與服務有關的公告（例如：就更新我們的隱私權政策、網站內的功能或電腦程式終止服務、網路服務或技術支援政策的變更、或其他有關變更所發出的通知等）。此類別之通訊在本隱私權政策下泛指為「行政通訊」。<br />
                                <strong>• 獎賞、比賽及推廣活動</strong><br />
                                若參加網路獎賞、比賽及推廣活動（以下概稱「推廣活動」），消費者可能被要求首先於雀巢網站上登記。作為推廣活動之部分而收集的資料會被用作考慮消費者的資格、通知消費者是否為得獎者、及/或派出獎項。若消費者為得獎者，某些有關消費者的資料（如消費者之姓名及圖片）可能會被發佈於相關的雀巢網站內。若20歲以下未成年人被允許參加該推廣活動，如有要求，我們將首先取得其家長的同意。<br />
                                欲知有關推廣活動的詳情，請參閱隨特定推廣活動所發佈的官方規則及細則。<br />
                                <strong>• 市場調查及投票</strong><br />
                                在雀巢網站內進行的市場調查及投票有兩種類別。一種為純粹要求人口統計及市場調查資料（例如：年齡、性別、家庭狀況及其他喜好等），而該資料並不會與消費者任何之個人資料聯繫。在另一種情況下（如登記帳戶期間），我們可能會收集相同資料並與消費者之個人資料整合。若20歲以下未成年人被允許參加市場調查或投票，而收集或與個人資料有聯繫，我們將首先取得其家長可供確認的同意。<br />
                                <strong>• 留言板及其他互動功能</strong><br />
                                我們可能會提供互動功能令消費者能夠於我們的網站內張貼或發佈訊息、故事、圖片或繪圖等。儘管我們致力保障所有使用及參與該等活動的人士，我們仍鼓勵消費者謹慎地考慮於公共範圍內，如留言板或其他具網路社群功能的平台上，發放有關消費者之個人資料或照片。該等資料可被消費者所不認識的人士收集及使用。因此，我們對於消費者在該等公共範圍內所發佈的任何資料之安全性及隱私權，不能作出保證且概不承擔任何責任。消費者使用該等功能應自行承擔風險。若消費者要求從我們的網誌或網路社群的論壇移除消費者之個人資料，請隨時<a href="https://www.nestle.com.tw/info">聯絡我們</a>。在某些情況下，我們可能未必能夠移除消費者之個人資料，屆時我們將通知消費者及原因。<br />
                                敬請注意：若我們選擇於該等功能上發佈你所提供給我們的圖片或文字訊息，我們可能會隨該圖片或文字訊息發佈某些關於消費者的資料，如使用者名稱、部分姓名或縮寫、及/或居住城市或國家。 <br />
                                <strong>• 於網路購買雀巢產品</strong><br />
                                我們有部份網站可能允許消費者透過由我們或代表我們的經銷商所操作的網路商店（「雀巢網路商店」）購買雀巢產品。我們某些網站亦可能提供連結到其他並非由雀巢直接或間接控制的非關係公司（以下概稱「第三方」）但有出售雀巢產品之網站。若消費者透過雀巢網路商店購物，消費者會被要求提供信用卡資料，包括信用卡號碼、支付地址及送貨地址、以及其他基本聯絡資料（例如：電話號碼、電子信箱）。該等資料是用作確認消費者之訂單及完成購物交易。<br />
                                若消費者瀏覽的為第三方操作的網路商店，為了方便消費者選購產品，我們將提供一個第三方網路商店的直接連結。但請注意該等網站並非由我們操作，亦因此不包括在本隱私權政策下。我們嚴格挑選於網路出售雀巢產品的合作伙伴，而且僅與（如我們般）使用業界標準的加密程序來收集和處理網站訂單的網路銷售商合作，繼而避免消費者之個人資料（如信用卡號碼）被非授權的電子讀取。我們鼓勵消費者首先閱讀所瀏覽的網路商店之隱私權政策後，才分享任何個人資料（如消費者的信用卡號碼）。<br />
                                <strong>• 電子賀卡、通知好友或其他一次性使用項目</strong><br />
                                電子賀卡、通知好友或其他一次性使用功能所要求的個人資料（一般為姓名及電子信箱）為一次性的原則被使用（例如：發出有關通訊），我們並將不會繼續保留。若該類別功能提供予20歲以下未成年人，其設計上將事先要求取得其家長同意。<br />
                                <strong>• 商業有關資料</strong><br />
                                敬請留意：我們的網站內某些範圍可能允許消費者以商業身份，提交消費者、或消費者所屬公司之資料。該等範圍可能包括一個求職網頁，讓消費者可提交履歷表或網路申請職位；或於另一網頁；或聯絡表格供處理媒體查詢及要求。儘管據此而收集的任何個人資料僅限於其原有目的下使用（例如：履歷表僅供申請職位程序中使用），該等資料並不受本隱私權政策的條款所管轄。<br />
                                <strong>• 醫療及營養資訊網站</strong><br />
                                我們部份的網站，旨為醫療專業人士、消費者、或兩者提供營養及/或與健康有關的資訊及工具。除基本聯絡資料外（例如：姓名、電子信箱等），該等網站可能亦會收集特定的或敏感的個人資料：(i)醫療專業人士的執業範圍（例如：執業資格、醫學 / 專科學位、所屬醫院、以雀巢產品治療病人的使用情況等）；(ii)消費者就某些營養產品之興趣例如：雀巢產品的使用情況、飲食及運動習慣等）；或(iii)消費者某些身體狀況的診斷。<br />
                                正如其他網站，該等資料將根據被收集時所指定的目的使用，即傳送有關營養及／或健康資訊給登記用戶，和提供僅會員獨享之優惠及工具瀏覽權限。在該等營養資訊網站內的某些工具，或允許消費者在網站內輸入及展示某些健康資訊或病人資料。該等資料僅供網路參考，除非另有指示，該等資料並非由我們同時收集或持有。<br />
                                <br />
                                <span class="bu_b2">4. 若消費者不願提供個人資料會有甚麼情況?</span><br />
                                若消費者選擇不提交任何個人資料，消費者可能無法參與我們網站內的某些活動及個人化設定，而且有可能限制我們能為消費者提供的服務及特別優惠。例如：若消費者拒絕提供電子信箱，消費者可能無法接收任何我們的電子報或於我們的網站內登記。若消費者拒絕提供信用卡號碼，消費者可能無法在雀巢網路商店內購買產品。<br />
                                若消費者只瀏覽我們的網站及了解更多我們的產品時，則無需給予任何個人資料。<br />

                                <br />
                                <span class="bu_b2">5. 我們披露消費者之個人資料的人士及原因?</span><br />
                                雀巢絕不會與任何第三方分享消費者之個人資料以供直接促銷的用途，除非我們已特別通知了消費者並取得消費者特別同意。<br />
                                雀巢可能會與其分支公司、雀巢直接或間接控制的公司（以下概稱「雀巢集團」）分享消費者之個人資料。雀巢亦可能與第三方分享消費者之個人資料，但僅限於以下情況：<br />
                                <strong>服務供應商、代理商及承辦商</strong><br />
                                我們會聘請第三方如服務供應商、代理商及承辦商等，以支援我們的網站之內部運作，並協助我們管理網站及其不同功能、程式或推廣活動。部份第三方可能設於你所瀏覽的網站以外的國家。例如：我們主要的網站伺服器之服務供應商設於美國及英國（請同時參閱以下第7條）。該等第三方及其員工向我們提供服務時，可能會接觸到消費者之個人資料。任何該等第三方必須於任何時間，對消費者之個人資料提供與雀巢相同級別的安全措施，且（在若有規定之情況下）受法律協議所規限，以確保消費者之個人資料受到保密、安全及僅按雀巢的特定指示處理。<br />
                                <strong>合作伙伴及共同推廣</strong><br />
                                我們會不時與其他公司、機構或有信譽的第三方合辦或共同贊助活動或推廣活動。而作為該活動的一部分，我們會收集及處理個人資料。若消費者的個人資料被非雀巢公司所收集（或分享），我們會於收集消費者之個人資料時通知消費者。<br />
                                我們可能會於網站內定期展示其他公司的產品或服務的推廣活動，並會向消費者提供選擇是否從該第三方公司直接接收資訊。若該等推廣活動提供予20歲以下未成年人，我們會事先取得其家長可供確認的同意後方可分享該未成年人之個人資料。<br />
                                當舉辦任何牽涉其他公司的推廣活動時，我們可能會提供一個獨立連結到該公司的隱私權政策，我們鼓勵消費者閱讀後才分享任何個人資料，因我們無法保證該公司會採用相同的隱私權權操作實務及措施。若消費者不願雀巢以外的其他公司收集或分享消費者的個人資料，消費者可在收集或要求提供個人資料時，選擇不接收資訊或不參與活動。<br />
                                <strong>法律及商業轉移</strong><br />
                                若因法律上之要求，或我們基於真誠原則的判斷後必須採取合理之行動，以遵守法律程序、以回應任何索償、或保障雀巢、其顧客、或公眾的安全或權利等情況下，我們可能會披露消費者之個人資料。<br />
                                若雀巢的全部或部分業務與另一公司進行合併或收購，或若雀巢將其全部或部分業務出售或作出處置，在適用法律所限制下，收購一方將有權獲取雀巢業務所持有的 資料（包括個人資料）。同樣地，於公司架構重組、清算法律程序、或其他適用法律上所允許及處理之同類事項時，轉移個人資料可能會成為其中一部分程序。<br />
                                <strong>綜合性資料</strong><br />
                                我們可能會與第三方分享以綜合性方式表達的人口統計或市場調查資料，但該等資料將以匿名形式分享，且並不包含任何個人資料。我們所分享的綜合性資料可能包括透過使用數碼存根(cookies)或其他同類數據記錄技術所採集的匿名資料，詳情見以下第8條。<br />
                                <br />
                                <span class="bu_b2">6. 消費者如何能獲取、更改或對使用其個人資料的方式作出其他選擇?</span><br />
                                以下簡述消費者就我們在收集及使用消費者之個人資料上可作出的選擇。<br />
                                1.	消費者在任何時間均有權選擇不與我們分享消費者之個人資料。但若消費者作此選擇，可能會限制我們可提供予消費者的活動及功能，正如以上第４條所述。<br />
                                2.	若消費者不願從雀巢網站或品牌接收電子報、公告、或其他通訊及／或服務，請勿於登記時選擇接收該等通訊或服務。若消費者先前已選擇接收但其後擬拒絕接收，請隨時聯絡我們。<br />
                                3.	隨我們傳送給消費者的每封促銷電子郵件，我們均會提供機會予消費者以停止接收未來之促銷通訊（即：拒絕接收電子郵件）。消費者只須簡單地根據電子郵件內的拒絕接收電子郵件程序及指示即可。<br />
                                4.	消費者可在任何時間查閱或更新我們於在一般網站登記時，向消費者收集之個人資料。消費者只須隨時<a href="https://www.nestle.com.tw/info">聯絡我們</a>即可。<br />
                                若上述任何途徑並未有提供或消費者擬作出不同的要求，隨時<a href="https://www.nestle.com.tw/info">聯絡我們</a>。<br />
                                此外，若消費者參與之推廣活動或計畫牽涉第三方，而消費者同意從該第三方直接接收未來通訊作為該推廣活動的部分，消費者需要直接聯絡該第三方以拒絕接收該等通訊。有關程序可能會於該第三方的隱私權政策內簡述。<br />
                                <br />
                                <span class="bu_b2">7. 消費者之個人資料將會被轉移到的國家及原因?</span><br />
                                雀巢是一家全球性的公司，因此消費者之個人資料可能會在被跨國轉移，亦可能被轉移到跟消費者原先提交個人資料的國家具有不同程度的隱私權權法律之國家。消費者之個人資料亦可能轉移至位於不同國家的雀巢集團內的不同公司。雀巢在資料轉移過程中及在接收地區內，會採取適當措施以保障個人資料的安全。<br />
                                提供本網站的伺服器可能位於消費者瀏覽本網站的地區以外之國家。大多數雀巢網站的主要網絡伺服器供應商均位於美國及英國。該供應商受合約限制，以確保持其高規格的隱私權權保護，並要求（除其他條款）供應商僅根據雀巢指示行事，及持續執行一切所需的技術措施以保障消費者之個人資料的安全。<br />
                                <br />
                                <span class="bu_b2">8. 數據記錄技術 – 如何使用及原因?</span><br />
                                雀巢使用數據記錄技術（「數碼存根」(Cookies)、「IP地址」(IP Address)、「記錄檔案」(Log Files)、「網站信號」 (Web Beacon)、）以採集某些資料，如瀏覽器類型及作業系統、導入網頁、進入網站的路徑、網絡服務供應商的域名等，以改善我們網站的使用及功能，並藉以更了解訪客如何使用我們的網站、其所提供的工具及服務。數據記錄技術幫助我們對網站作量身化改善以切合消費者的需要。<br />
                                <strong>數碼存根 (Cookies)</strong><br />
                                我們使用數碼存根以改善我們網站的使用及功能，並藉以更了解訪客如何使用我們的網站、所提供的工具及服務。在消費者電腦上儲存的數碼存根讓我們更容易及簡單地為消費者提供個人化及優化的網站瀏覽經驗，並使消費者的下一次瀏覽更加愉快。<br />
                                若消費者想了解更多雀巢就數碼存根的政策及消費者的權利，請瀏覽雀巢數碼存根政策（只有英文版本）。<br />
                                <strong>IP地址 (IP Addresses) </strong><br />
                                我們可能會記錄網路網絡協議 (IP) 地址以（除其他用途以外）：(i)排解技術問題；(ii)維護網站安全及保密性；(iii)限制某些訪客使用我們的網站；(iv)更了解我們的網站被如何使用。IP地址為網絡上的電腦所使用的數字，藉以於消費者每次登入網站時辨識消費者的電腦。<br />
                                <strong>記錄檔案 (Log Files)</strong><br />
                                我們（或代表我們的第三方）可能會收集以記錄檔案形式的資料，以記錄網站上的活動及採集網絡使用者的瀏覽習慣的統計數據。該等記錄以匿名方式產生並幫助我們採集（除其他用途以外）(i)使用者的瀏覽器類型及作業系統；(ii)使用者使用網站某段期間的資料（例如：進入網站前的網址、瀏覽網站的日期和時間、已瀏覽之網頁及停留時間）；及(iii)其他同類導覽及點擊流向的數據。我們亦會將記錄檔案所採集到的資料作內部行銷及人口統計之研究用途，使我們能不斷改善及制定我們所提供給消費者的網路服務。記錄檔案僅限於內部使用，並不與任何特定使用者有任何聯繫。<br />
                                <strong>網站信號 (Web Beacons)</strong><br />
                                我們可能會在網站內使用網站信號（或清晰GIF檔），或包含於我們傳送給消費者的電子郵件內。網站信號（亦俗稱"web bugs"）為多組細小的原始碼，以提供在網頁上或電子郵件訊息內一種傳輸圖像的方法，以向我們返送傳輸數據。由網站信號所收集的資料可能包括以上IP地址部分中所述的某些資料，以及使用者如何回應某一電子郵件之活動（例如：開啟電子郵件時間、電子郵件所連結到的地方等）。我們會以不同目的使用網站信號，包括但不限於網站流量報告、計算獨特訪客人數、廣告及電子郵件審計及報告、以及個人化。<br />
                                <br />
                                <span class="bu_b2">9.	電子商務–何謂濫發訊息以及我們就濫發電子信件的定位?</span><br />
                                濫發訊息是指未經消費者同意，向消費者發送包含廣告或與行銷有關的材料之非應邀電子郵件的行為。<br />
                                我們不會濫發電子郵件。我們使用過濾軟體工具以保障我們的員工不受濫發訊息所影響。在未取得同意下發送電子郵件在很多國家均為違法行為。除非消費者給予我們明示的同意，否則我們不會使用消費者之個人資料（包括消費者的電子信箱）作直接促銷或跟進通訊。這種方式稱為「同意接收訊息」。<br />
                                此外，我們亦不會與欲使用消費者之個人資料作濫發電子郵件用途的任何第三方分享消費者之個人資料。<br />
                                雀巢網站提供予消費者可選擇以電子郵件接收行銷資料。每封由雀巢所發出的電子郵件，均給予消費者選擇可於任何時間停止接收行銷電子郵件。<br />
                                若有任何原因消費者相信接收到自一家雀巢集團之公司的濫發電子郵件，請隨時<a href="https://www.nestle.com.tw/info">聯絡我們</a>。<br />
                                <br />
                                <span class="bu_b2">10. 我們持有消費者之個人資料的時間?</span><br />
                                我們可能將消費者通過本網站發送給我們的個人資料儲存於資料庫內，例如我們的顧客服務資料庫。消費者之個人資料將會被雀巢集團持有一段合理所需之時間，其時限將考慮到我們需要回應提問或解決問題、提供改善及全新服務、或遵守適用法律下的法定要求。因此，我們可能會在消費者停止使用雀巢服務或停止使用本網站後的一段合理時間內仍然持有消費者之個人資料。當這段時間結束後，消費者之個人資料將會在所有雀巢集團內的系統中被刪除。<br />
                                謹提示消費者：我們有權於任何時間刪除消費者之個人資料。請參閱問題第6條。<br />
                                <br />
                                <span class="bu_b2">11. 收集使用我們網站的未成年人之個人資料政策?</span><br />
                                我們認同保障未成年人在網路的隱私權十分重要，以及從20歲以下未成年人收集到的資料存在特別處理的要求。因此，我們制定了以下就網路收集、使用及披露未成年人之個人資料的政策。我們建議家長與其未成年人一起瀏覽我們的網站，並建議家長提示其子女在提供任何個人資料前必須先向家長查核。<br />
                                大部分由台灣雀巢股份有限公司運作的網站均不會導向未成年人，並且不會於知情的情況下向20歲以下未成年人要求或收集其個人資料。對於我們某些可能會吸引所有年齡人士的網站，我們可能會採取措施以確保欲登記或提交個人資料的人士已達至某個年齡限制。以下詳述我們就少數可能對20歲以下未成年人有強烈吸引力、或可能會收集其資料的網站的操作實務。<br />
                                <strong>收集未成年人的資料</strong><br />
                                <strong>匿名或非個人資料</strong><br />
                                未成年人一般可瀏覽我們的網站、閱讀內容、參加遊戲而無需提供任何如姓名或電子信箱等個人資料。某些網站可能要求未成年人提供匿名或非個人資料（例如：使用者名 稱、密碼、姓氏、所在城市或國家）以取得訪問個人化功能、或允許未成年人記錄遊戲最高得分、儲存喜好、網站個人化、或進行其他類似活動。當登記過程中僅要求提 供匿名資料的情況下，我們可能允許未成年人使用其出生日期（僅限於月分及日子）作為登入密碼，此舉可幫助其容易記憶自己的密碼。<br />
                                <strong>個人資料</strong><br />
                                若網站需要收集未成年人之個人資料（例如：某些電子報、比賽、獎賞或其他類似活動），除技術上或為提供所要求的功能及服務所需的其他資料（例如：出生月份及日期以供生日卡）以外，我們所收集的個人資料可能包括未成年人的姓名及電子信箱、及其父母的姓名及電子信箱。一般而言，該等資料僅會在我們已事先取得父母或法定監護人（以下概稱「父母」）可被確認的同意後，才會保存及持續使用。而取得父母同意的方式，可能因活動所要求的資料類別及擬使用該等資料的目的而有所不同。例如：若未成年人訂閱一份電子報或登記網站內的功能，我們可能會發送電子郵件通知父母，並視乎功能而言，告知父母如何中止子女參與該活動或提供授權同意。若父母提供所需的授權，我們可能會在稍後以電子郵件確認。若父母拒絕或選擇不授權子女參與該活動或登記，任何該未成年人可能已提交的資料將會被刪除。在其他情況下，例如當未成年人參與：(i)比賽並贏得獎項；(ii)可能會在網站內發佈未成年人之個人資料或故事的活動，我們可能會要求以更確切之同意，例如父母的書面同意。此外，在適用情況下，父母將可同意我們收集及使用未成年人之個人資料，但並不代表同意披露該等個人資料予第三方。<br />
                                在所有情況下，我們僅於取得父母同意後方會收集未成年人之個人資料。我們亦只會收集所需並合理的個人資料，以使未成年人可參與某一特別功能為限，即表示若我們並不需要消費者的未成年人之某一特定個人資料（例如：電話號碼）以允許未成年人登記或接收電子報的話，我們將不會提出要求。欲知我們就保障未成年人之個人資料的保密性及安全所採取的措施，請查閱上文詳述安全之部分。<br />
                                我們不會使用被動式的數據收集技術（例如：數碼存根 (cookies)）來收集任何未成年人之個人資料；但數碼存根內的資料有可能與未成年人之個人資料有連結。欲知我們如何使用數碼存根及其他數據記錄技術，請查閱上文相關之部分。<br />
                                <strong>使用未成年人之個人資料</strong><br />
                                未成年人之個人資料一經收集後，僅會根據其原有收集目的及其父母已同意（在有要求同意的情況）的目的下使用。例如：若未成年人登記（及父母授權同意）訂閱一份電子報或公告，未成年人的電子信箱會被用作發送所要求的資訊。<br />
                                <strong>父母訪問權限/控制</strong><br />
                                若消費者已允許我們收集及儲存消費者之子女的個人資料，消費者可於任何時間：<br />
                                1. 通過瀏覽適當的授權/查閱網頁，查閱消費者子女之個人資料。我們在原先要求取得消費者同意後所發送給消費者的通知內，會提供一個到該網頁的連結。<br />
                                2. 要求停止使用或收集消費者子女之個人資料（例如：拒絕接收訊息）。消費者可訪問消費者子女登記的網站內，所提供的拒絕接收訊息網頁，或根據發送到消費者子女的電子郵箱內之電子報或電子郵件內所述的拒絕接收程序或指示提出要求。<br />
                                3. 根據上述第2點之程序，消費者可要求我們刪除消費者子女之個人資料。為消費者子女拒絕接收訊息將把我們記錄內其個人資料刪除。<br />
                                若以上並未提供任何適合消費者之選擇或消費者擬提出不同的要求，敬請：(i)查閱當消費者給予同意時，我們所提供的文件：或(ii)請隨時聯絡我們。請確保消費者備有以下文件以供確認用途：消費者子女的姓名及電子信箱、消費者的姓名及電子信箱、及消費者子女所登記的網站名稱。<br />
                                若消費者允許消費者子女於某一網站上登記或參與其他提供給20歲以下未成年人之網站活動，則消費者子女亦可能有權查閱、修改、或刪除其與該登記或活動有關的個人資料，即消費者未成年人可能有權拒絕接收某些消費者已同意的功能之訊息。<br />
                                <br />
                                <span class="bu_b2">12. 我們會否連結到其他第三方網站?</span><br />
                                我們可能會將本網站連結到其他公司或機構的網站（以下概稱「第三方網站」）。因第三方網站並非由我們所控制，本隱私權政策並不適用於該等網站。若消費者使用所提供的連結瀏覽第三方網站，該等網站的運作人員可能會收集消費者之個人資料。敬請確保消費者在提交任何個人資料前必須滿意該網站的隱私權政策。我們會盡力確保所有被連結的第三方網站具有同等措施保障消費者之個人資料，但我們概不就該等第三方網站的活動、其隱私權政策、或其遵守隱私權權的程度等承擔法律或任何責任。<br />
                                <br />
                                <span class="bu_b2">13. 如何聯絡我們?</span><br />
                                若消費者對本隱私權政策或我們收集資料的操作實務有任何疑問、投訴、或意見，請以發送電子郵件至Services.Consumer@tw.nestle.com或致電 0800-000-339。<br />
                                <br />
                                <span class="bu_b2">14. 我們就使用消費者之個人資料作直接促銷的政策?</span><br />
                                我們可能會不時使用消費者之個人資料（包括消費者的姓名、聯絡資料、及於消費者首次登記時或其後收集的所有其他資料）向消費者發送推廣資訊，例如：含有產品或服務之新聞、優惠、推廣及聯合推廣的郵寄印刷品、電子郵件、電話及電話短訊。相關產品和服務包括：<br />
                                • 由「台灣雀巢股份有限公司」所提供的產品及服務；及由「台灣雀巢股份有限公司」所提供的產品及服務。<br />
                                除非我們已取得消費者同意，否則我們不可使用你的個人資料作上述目的。消費者可以下列方式表示同意：<br />
                                • 當消費者通過我們的網站、網路或書面表格提供消費者之個人資料時，剔選選擇框表示消費者同意或拒絕同意（視乎實際情況）；或當消費者通過電話，向我們的客戶服務代表表示消費者同意或拒絕同意（視乎實際情況）。<br />
                                消費者亦可透過以下方式隨時免費選擇拒絕接收推廣通訊：<br />
                                • 根據通訊中的"拒絕接收訊息" 指示操作；<br />
                                • 以上述第13條所提供的不同管道<a href="https://www.nestle.com.tw/info">聯絡我們</a>。<br />
                                欲知詳情，請查閱以上問題第6條《如何獲取、更改或對使用消費者之個人資料的方式作出其他選擇?》。<br />
                                <br />



                                <br />

                            </div>
                        </div>
                    </div>
                    <div class="reg_footer"></div>
                    <div class="pd"></div>
                </div>
            </div>
        </div>
        <!-- content end----------------------------->
    </div>
