        <!-- content ----------------------------->
        <div id="main_wrapper">
            <div id="main">
                <div class="main_content_d">
                    <h2>
                        使用者條款

                    </h2>
                    <!--top line-->
                    <span class="box_head_reg"></span>
                    <!-- line-->
                    <div class="reg">

                        <!--text wrapper-->
                        <div class="reg_text">
                            <div class="gy_2">
                                <br />
                                台灣雀巢股份有限公司惠氏營養事業部( 以下稱“台灣雀巢”或”本公司”)開發與經營的本網站（以下稱「本網站」）乃在提供您個人娛樂、資訊、教育與溝通等相關內容。本網站僅供台灣地區之居民使用，網站內容可能不適合台灣地區以外之居民。<br />
                                本網站可能包含有關各種健康及治療的資訊，若您有任何健康狀況，我們建議您立即諮詢醫師或其他專業醫療人員。您存取或使用本網站即表示您在無任何限制或條件下接受本使用者條款（以下稱「使用者條款」）。<br />
                                請在存取或使用本網站之前，仔細閱讀此使用者條款。您存取或使用本網站即表示您承認您已閱讀、理解並同意受下列使用者條款所約束，如同您已簽署該等使用者條款。若您不願受下述使用者條款拘束，即不得存取本網站。<br />
                                本公司得隨時修改本使用者條款，此等修改將於網站公布時立即生效。您持續使用本網站之行為，即代表您接受經修改的使用者條款。<br />
                                <br />
                                <span class="bu_b2">1. 網站使用</span><br />
                                您可自由瀏覽本網站或下載本網站的內容。任何及所有下載內容均僅供您個人、非商業性之使用。非經本公司明確書面同意，您不得散布、修改、傳輸、重新使用、重新張貼或將此等內容用於公眾或商業目的。下載內容中，所有著作權及其他所有權聲明均須受到保存與保留。除非另有說明，本網站的所有內容均屬本公司及／或我們供應商或關係企業的版權作品，非經本公司確書面同意或依本使用者條款規定，不得使用。<br />
                                本網站上所顯示的人物或地點之影像均屬本公司之財產或係由本公司授權使用，嚴格禁止使用者使用此等圖像。未經授權使用圖像，將可能違反著作權、商標、隱私及／或公開法律、以及通訊規則與法條。<br />
                                存取本網站即表示您同意不得假借他人名義或使用假名、無權使用的姓名或假身分、假電子郵件地址或是用您的身分或任何通訊來源企圖誤導他人。<br />
                                <br />
                                <span class="bu_b2">2. 存取限制</span><br />
                                除台灣雀巢明確同意外，嚴格禁止就任何目的對本公司電腦系統或系統中所含的其他資訊進行任何存取或企圖存取。您同意，未經本公司明確書面同意，您不得使用任何機器人程式、蜘蛛程式、其他自動或人工程序或裝置「擷取螢幕(screen scrape)」、監視「mine」或複製本網站的網頁或其所含的內容。您不得基於任何原因對本網站其他使用者發送垃圾郵件。您同意不使用任何裝置、軟體或程式，干擾或企圖干擾本網站的正常運行。您同意不進行任何會對本公司基礎架構造成不合理或不成比例的高負擔行為。非經本公司明確書面同意，您不得使用框架技術，納入本網站任何網頁中所發現的任何本公司商標、標誌、商號或其他專屬資訊，包括圖像、框架、內容或編排／設計。<br />
                                本公司保留絕對權利，得禁止您存取本網站相關內容，或拒絕或終止您在本網站上的註冊，包括本網站的任何部分。 <br />

                                <br />
                                <span class="bu_b2">3. 前瞻性聲明</span><br />
                                本網站得包含針對可能受風險與不確定性影響而導致實際結果與預期不同的前瞻性聲明，包括向證券交易委員會（以下稱「證交會」）所提交報告中描述的風險以及台灣雀巢母公司向證交會所提交的最新報告。<br />
                                <br />
                                <span class="bu_b2">4.  資訊的即時性</span><br />
                                本公司會盡合理努力，在本網站中納入精確與更新之資訊。但由於資訊變更快速，台灣雀巢無法對資訊的精確性作任何聲明或保證。亦不就本網站上任何資訊的可靠性、精確性、有效性、即時性、有用性或完整性承擔任何責任。<br />

                                <br />
                                <span class="bu_b2">5. 隱私權政策</span><br />
                                本公司重使用者的隱私，並已擬定一隱私權政策，用以說明有關本網站上所揭露之個人資料的使用者權利與責任。請點選此處閱讀我們的隱私權政策。<br />
                                <br />

                                <span class="bu_b2">6. 責任</span><br />
                                使用本網站應自行承擔風險。在任何情況下，台灣雀巢或涉及本網站之設立、製作或交付之任何其他方均不對您存取、使用或無法存取或使用本網站所發生的任何損害負責（包括但不限於直接、偶發、附帶、間接或懲罰性損害，或因利潤損失、資料損失或業務中斷所造成之損害），此包括您電腦設備所受到的損害或病毒入侵。本公司不保證或擔保本網站可下載的檔案均無病毒、病蟲、木馬程式或帶有傳染或毀滅性質的其他程式。在不限制上述之前提下，本網站所有內容均係依「現狀」而提供，無任何明示或暗示擔保，包括但不限於對品質滿意的擔保、適合特定目的之擔保或不侵權擔保。請注意，某些管轄區可能不允許排除暗示性擔保，因此上述排除可能不適用於您。請參考您當地法律對暗示性擔保的限制。<br />
                                <br />
                                <span class="bu_b2">7. 賠償</span><br />
                                您同意就本公司及其經理人、董事、員工、代理人、供應商及第三方合夥人因您違反本使用者條款或有關您的帳戶活動－包括您自身使用帳戶，或任何其他人使用您的帳戶存取本網站（包括過失或不當行為）－所引發的所有損失、費用、損害與成本（包括合理的法律費用）提供賠償、抗辯並保證其免責。<br />
                                <br />
                                <span class="bu_b2">8. 保密</span><br />
                                在符合我們隱私權政策所規定的使用者條款之前提下，您在本網站上透過電子郵件或其他方式所傳輸、張貼任何通訊或內容，包括但不限於任何資料、問題、意見、建議或類似事物，均將視為非機密與非專屬資訊。台灣雀巢或其任何關係企業得為任何目的使用此等通訊或內容，包括但不限於複製、揭露、傳輸、出版、傳播或再張貼。此外，台灣雀巢及其關係企業得為任何目的，自由使用您寄至本網站的任何通訊或內容中所含之任何想法、概念、專業知識或技術，使用之範圍包括但不限於開發、製造與行銷產品。<br />
                                <br />
                                <span class="bu_b2">9. 商標</span><br />
                                本網站上所顯示之商標、標誌與服務標誌（以下合稱「商標」）皆為台灣雀巢及其他公司的註冊與尚未註冊商標。此外，所有頁面、專屬圖像、按鍵圖樣與文字均屬本公司之服務標誌、貿易標誌與貿易名稱，非經我們事先書面同意，不得全部或部分複製。您承認，本網站所使用與顯示的商標皆屬本公司或商標所有權人之專屬財產。本網站任何內容均不得被解釋為透過暗示、無禁止或其他方式，在未經台灣雀巢或商標所有權人明確書面同意下給予任何商標授權。除本使用者條款之規定外，嚴格禁止濫用本網站上的商標及其內容。本公司將於最大法定範圍內積極執行其對本網站及內容的智慧財產權，包括尋求刑事處分。<br />
                                <br />
                                <span class="bu_b2">10. 智慧財產權</span><br />
                                台灣雀巢賦予您存取與瀏覽本網站上文字、圖像、影音、設計、圖案、圖表及其他內容（以下稱「台灣雀巢內容」）之權利，但僅限供您個人作非商業性之使用。本公司得不經通知、不具理由隨時撤銷此項權利。本網站上的任何及所有台灣雀巢內容、軟體與其他作品以及上述任一項複製版本（以下合稱「作品」），均屬台灣雀巢及／或其供應商之版權作品，受全球著作權法律與公約條款保護。除上述有限制存取與瀏覽本網站內容之授權外，本公司不授予您對作品的任何特權或權利。您承認，非經台灣雀巢事先書面同意，我們嚴格禁止您對作品進行任何其他使用，包括但不限於複製、修改、散布、傳輸、出版、展示或表演。<br />
                                <br />
                                <span class="bu_b2">11. Online Communications 網上通訊</span><br />
                                雖然本公司得不定時監控或瀏覽本網站上的討論、聊天、張貼、傳輸、公告欄及類似事物，本公司並無義務為此進行監控或瀏覽，且對於本網站上的內容以及任何資訊所含的任何錯誤、誹謗、侮辱、詆毀、疏失、不實、猥褻、色情、褻瀆、危險或不精確，台灣雀巢概不負責。本公司無責任檢查本網站上討論、聊天、傳輸、公告欄或就類似事物所張貼之資訊的精確性。<br />
                                <br />
                                <span class="bu_b2">12. 經營政策</span><br />
                                您不得張貼或傳輸任何違法、具威脅性、誹謗、詆毀、猥褻、煽動性、色情或褻瀆之內容、或可能構成或鼓勵刑事犯罪、產生民事責任或其他違法事宜的任何內容。台灣雀巢將與任何執法機構或法院命令充分合作，揭露任何張貼此等資訊或內容或企圖誤導其他人有關身分或任何通訊來源之人士的身分。<br />
                                <br />
                                <span class="bu_b2">13. 通訊審閱</span><br />
                                本公司保留權利（但無義務）得審閱所張貼或上載至本網站的通訊與內容，並阻止或刪除其認為(a)濫用、誹謗或猥褻；(b)詐欺、欺騙或誤導；(c)違反其他人著作權、商標或其他智慧財產權，或(d)攻擊性、反感或基於其他原因，本公司依其裁量認定無法為台灣雀巢所接受之通訊或內容。<br />
                                <br />
                                <span class="bu_b2">14. 編輯政策</span><br />
                                本公司保留隨時在本網站上變更或刪除本網站任何內容之權利。<br />
                                <br />
                                <span class="bu_b2">15. 無擔保</span><br />
                                本網站上某些連結會引領到非台灣雀巢經營、維護或控制之伺服器上的資源。本公司提供此等連結是僅為使用者方便之用。本公司不對此等參考網站之內容負責，亦不對其存取之可用性負責。本網站上包含任何其他網站之連結，或提及任何產品或服務之商號、商標、製造商或其他相關資訊，均不構成或暗示台灣雀巢給予擔保或推薦。透過本網站連結其他網站時應自行承擔風險。本公司將不負有關您存取此等網站的所有責任。<br />
                                <br />
                                <span class="bu_b2">16. 本網站資料提供產品及服務之限制</span><br />
                                雖然本網站上的資訊可供全世界存取，但此並非表示本網站上所討論之所有產品或服務可提供給所有地理位置或管轄區內的所有人。本公司保留權利，得限制我們產品與服務對任何人、地理區域或管轄區之提供，以及／或限制我們所提供之任何產品或服務的數量。如有禁止規定，本網站內容所提議的任何產品或服務均屬無效。<br />
                                <br />
                                <span class="bu_b2">17. 其他規定</span><br />
                                本網站及其內容係由本公司的網站管理者所控制。若您對此聲明或資料收集、運用及中止使用的方式有所疑問，請您與我們聯絡。<br />
                                此等使用者條款，本公司的隱私權政策，以及您可能與台灣雀巢簽訂特定產品或服務與台灣雀巢所簽署的任何其他協議，俱構成您與台灣雀巢間之完整合意，並取代
                                任何及所有其他口頭或書面協議、聲明與理解。非經台灣雀巢事先書面同意，您不得修改或變更此等使用者條款。台灣雀巢得隨時修改或變更本使用者條款及隱
                                私權政策，無需另行通知。您應定期審閱本使用者條款是否有任何變更或修改。若您在修改或變更後繼續使用本網站，即表示您接受與同意修改後的此等使用者
                                條款。若本使用者條款中有任何條款或規定依現行或將來法律被判定違法、無效或不可執行，則您理解且同意，被判定違法、無效或不可執行之條款或
                                規定應予分割，而不影響所有其他條款或規定之可執行性。本使用者條款以及您使用本網站和本網站所提供的任何產品或服務，<span class="gy_1">
                                    均
                                    依照中華民國法律為準據法，但不包括衝突法原則，並以台灣台北地方法院為第一審管轄法院。
                                </span>本使用者條款中所使用之標題僅係為方便而設，不得用於判定本使用者條款之意義或解釋。<br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reg_footer"></div>
            <div class="pd"></div>
        </div>
    </div>
    <!-- content end----------------------------->