.intro_area
{
    float: left;
    width: 300px;
}

.category_table
{
    border: 0px;
    margin-bottom: 5px;
}

    .category_table .category_table_title
    {
        border: 0px;
        text-align: left;
        vertical-align: middle;
        width: 50px;
    }

    .category_table .category_table_content
    {
        border: 0px;
        vertical-align: middle;
        position: relative;
        top: 2px;
    }

        .category_table .category_table_content ul
        {
            padding: 0px;
            margin: 0px;
        }

            .category_table .category_table_content ul li
            {
                background-color: lightgray !important;
                border-bottom: 1px solid black;
                border-radius: 0px;
            }

                .category_table .category_table_content ul li label
                {
                    padding: 3px !important;
                    color: black;
                }

.content .showdata .item1
{
    width: 8%;
    min-width: 8%;
}

.content .showdata .item2
{
    width: 8%;
    min-width: 8%;
}

.content .showdata .item3
{
    width: 8%;
    min-width:8%;
}

.content .showdata .item4
{
    width: 10%;
    min-width: 10%;
}

.content .showdata .item5
{
    width: 6%;
    min-width: 6%;
}

.content .showdata .item6
{
    width: 6%;
    min-width: 6%;
}

.content .showdata .item7
{
    width: 9%;
    min-width: 9%;
}

.content .showdata .item8
{
    width: 6%;
    min-width: 6%;
}

.content .showdata .item9
{
    width: 8%;
    min-width: 8%;
}

.content .showdata .item10
{
    width: 8%;
    min-width: 8%;
}

.content .showdata .item11
{
    width:6%;
    min-width: 6%;
}
.content .showdata .item12
{
    width: 10%;
    min-width: 10%;
}

/*QueryMethod Css Start*/

.content .showdata .QueryMethod .item1
{
    width: 20%;
    min-width: 20%;
}

.content .showdata .QueryMethod .item2
{
    width: 50%;
    min-width: 50%;
    text-align: left;
}

.content .showdata .QueryMethod .title
{
    border-bottom: solid 3px rgb(210, 198, 198);
    padding-bottom: 5px;
}

/*QueryMethod Css End*/
