        .content .showdata .item1 {
            width: 5%;
            min-width:5%;
        }
        .content .showdata .item2 {
            width: 10%;
            min-width:10%;
        }
        .content .showdata .item3 {
            width: 10%;
            min-width:10%;
        }
        .content .showdata .item4 {
            width: 10%;
            min-width:10%;
        }
        .content .showdata .item5 {
            width: 10%;
            min-width:10%;
        }
        .content .showdata .item6 {
            width: 7%;
            min-width:7%;
        }
        .content .showdata .item7 {
            width: 7%;
            min-width:7%;
        }
        .content .showdata .item8 {
            width: 7%;
            min-width:7%;
        }
        .content .showdata .item9 {
            width: 7%;
            min-width:7%;
        }
        .content .showdata .item10 {
            width: 7%;
            min-width:7%;
        }
        .content .showdata .item11 {
            width: 5%;
            min-width:5%;
        }