@model Template.Models.ExampleViewModel

@{
    ViewBag.Title = "Grid";
}
<article id="page-content">
    <h2>Fluid Grid</h2>
    
    <p>Our grid is percentage based so will easily scale to any size.</p>
    
        <section class="one borders">
            .one
        </section>
        <section class="eleven borders">
            .eleven
        </section>

        <section class="two borders">
            .two
        </section>
        <section class="ten borders">
            .ten
        </section>


         <section class="three borders">
            .three
        </section>
        <section class="nine borders">
            .nine
        </section>


        <section class="four borders">
            .four
        </section>
        <section class="eight borders">
            .eight
        </section>

        <section class="five borders">
            .five
        </section>
        <section class="seven borders">
            .seven
        </section>


        <section class="six borders">
            .six
        </section>
        <section class="six borders">
            .six
        </section>
    
        <section class="twelve borders">
            .twelve
        </section>
    
    <hr/>
    
    <h3>Prefer Thinking in Fractions?</h3>
    <p>Our grid system supports fractions from one-quarter to six-sevenths.</p>
           <section class="one-quarter borders">
            .one-quarter
        </section>
        <section class="three-quarters borders">
            .three-quarters
        </section>
        
        <section class="one-third borders">
            .one-third
        </section>
        <section class="two-thirds borders">
            .two-thirds
        </section>

        <section class="half borders">
            .half
        </section>
        
        <section class="half borders">
            .half
        </section>

        <section class="three-fifths borders">
            .three-fifths
        </section>

        <section class="two-fifths borders">
            .two-fifths
        </section>
        
        <section class="five-sevenths borders">
            .five-sevenths
        </section>

        <section class="two-sevenths borders">
            .two-sevenths
        </section>

</article>

