    <!-- content ----------------------------->
    <div id="main_wrapper">
        <div id="main">
            <div class="main_content_r">
                <h2> 會員註冊完成</h2>
                <div class="complete">
                    <p class="member_text">親愛的媽咪<span class="member_icon"></span> </p>
                    <div class="line_de"></div>
                    <p class="icon_bottom">
                        您已完成會員註冊申請。我們將會盡快進行審核作業<br />
                        待確認您的資格符合，將以手機簡訊發送通知<br />
                        工作流程約需3~5個工作天，感謝您的耐心等候
                    </p>
                </div>
                <div class="blank_a"></div>
            </div>
        </div>
    </div>
    <!-- content end----------------------------->

