@{
    ViewBag.Title = "ECRM_complete";
}

<div id="main_wrapper">
    <div id="main">
        <div class="main_content_r">
            <h2>線上活動</h2>
            <div class="complete">
                <p class="ecrm_text">孕期媽咪問卷大調查<span class="icon"></span> </p>
                <div class="line_de"></div>
                <p class="icon_bottom">
                    您已完成問券填寫，獲得100 <span class="money_m"></span><br />
                    如有任何問題，歡迎聯繫您的專屬諮詢服務人員
                </p>
            </div>
            <div class="blank_a"></div>
        </div>
    </div>
</div>

