@{
    ViewBag.Title = "Recipient_complete";
}

<div id="main_wrapper">
    <div id="main">
        <div class="main_content_r">
            <h2>宅配訂購</h2>
            <div class="complete">
                <p class="icon_text">已完成商品訂購。 <span class="icon"></span> </p>
                <div class="line_de"></div>
                <p class="icon_bottom">
                    我們會盡快確認您的訂單，並將商品寄送給您。<br>
                    作業流程約需3~5個工作天，感謝您的耐心等候。<br>
                    如有任何問題，歡迎與您的ECRM專屬營養師聯繫。
                </p>
            </div>
            <div class="blank_a"></div>
        </div>
    </div>
</div>

